# Copyright 2024-2025 NetCracker Technology Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

host: GRAFANA_REPORTER:8881
info:
  contact: {}
  description: This document describes REST API for Grafana Reporter.
  license:
    name: Qubership
    url: https://www.qubership.org/
  title: Grafana Reporter REST API
  version: "1.0"
paths:
  /api/v1/defaults:
    get:
      description: Get values of default parameters such as default template and time
        range
      operationId: getDefaults
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: Get values of default parameters
      tags:
      - General
  /api/v1/report/{dashboard_uid}:
    get:
      description: Generate Grafana dashboard report in PDF file. You can set time
        range, tex template and other parameters `var-` from Grafana
      operationId: generateReport
      parameters:
      - description: Authentication header
        in: header
        name: Authorization
        required: true
        type: string
      - description: Dashboard UID
        in: path
        name: dashboard_uid
        required: true
        type: string
      - description: PDF tex template name
        in: query
        name: template
        type: string
      - description: The start of time range
        in: query
        name: from
        type: string
      - description: The end of time range
        in: query
        name: to
        type: string
      produces:
      - application/octet-stream
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
        "401":
          description: Unauthorized
          schema:
            type: string
      summary: Generate Grafana dashboard report
      tags:
      - Generate
    post:
      description: Generate Grafana dashboard report in PDF file. You can set time
        range, tex template and other parameters `var-` from Grafana
      operationId: generateReport
      parameters:
      - description: Authentication header
        in: header
        name: Authorization
        required: true
        type: string
      - description: Dashboard UID
        in: path
        name: dashboard_uid
        required: true
        type: string
      - description: PDF tex template name
        in: query
        name: template
        type: string
      - description: The start of time range
        in: query
        name: from
        type: string
      - description: The end of time range
        in: query
        name: to
        type: string
      produces:
      - application/octet-stream
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
        "401":
          description: Unauthorized
          schema:
            type: string
      summary: Generate Grafana dashboard report
      tags:
      - Generate
  /api/v1/report/{template}:
    get:
      description: Get tex template by name
      operationId: getTexTemplate
      parameters:
      - description: PDF tex template name
        in: path
        name: template
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        "400":
          description: Bad Request
          schema:
            type: string
        "404":
          description: Not Found
          schema:
            type: string
      summary: Get tex template by name
      tags:
      - General
  /api/v1/templates:
    get:
      description: Get names of all available tex templates
      operationId: getTexTemplates
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: Get names of available tex templates
      tags:
      - General
swagger: "2.0"
tags:
- description: Create reports of Grafana dashboard with the set of parameters
  name: Generate
- description: Get application information
  name: General
